table,tr,th,td {
    border:2px solid black;
    border-collapse:collapse;
}

table {
    margin-top:20px;
}

.edit-section {
    visibility:hidden;
}

.edit-section {
    position:fixed;
    top:20px;
    background-color: grey;
    height:500px;
    width:600px;
    align-items: center;
    margin-top:80px;
    margin-left:400px;
    border-radius: 20px;
    overflow: hidden;
}

.section {
    text-align: center;
    margin-top: 50px;
    font-size: 23px;
    display:flex;
    flex-direction: column;
}

#edit-name,#edit-language,#edit-id,#edit-bio,#edit-version {
    margin-left: 40px;
    margin-right:40px;
    margin-top:2px;
    height:20px;
    width:500px;
    border-radius:10px;
    outline:none;
    height:30px;
    font-family: cursive;
    text-align:center;

}

#search {
    background-color: white;
    height:40px;
    width:900px;
    border:2px solid #635f5f;
    margin-left:200px;
    border-radius: 20px;
    margin-top: 20px;
}

#searched-button,#input {
    margin-left: 20px;
    margin-top: 10px;
    border:transparent;
    background-color: white;
}

#input {
    width:750px;
    outline: none;
    /* background-color: white; */
}
#searched-button {
    width:50px;
    /* background-color: white; */
    cursor: pointer;
}

#input:hover {
    border:transparent;
    background-color: white;
    outline: none;
}

#ascending {
    height:40px;
    width:200px;
    margin-top:10px;
    cursor: pointer;
    background-color: red;
    color: white;
    border-radius:20px;
}

#submitbtn {
    height:40px;
    width:300px;
    margin-left:150px;
    margin-top:20px;
    background-color: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}